<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mock Banking System{% endblock %}</title>
</head>

<body>

    <header>
        <h1>Community Trust Banking System</h1>
        <p>Internal Member Services Portal</p>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>Internal Training Environment</p>
    </footer>

</body>

</html>